//Colors
$mainRed: #B4292E;
$facebookBlue: #445897;
$mainYellow: #CC8F32;
$twitterBlue: #6A8DC7;
$mainWhite: #FBFBFB;
$headerFont: #383934;
$metaFont: #AEAEAE;
$pFont: #525252;
$mainWhite: #FFFAF8;
$backgroundLayer: #313131;
