html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background: gray url("../assets/bg.jpg") no-repeat center;
  background-size: cover;
  font-family: sans-serif;
  position: relative; }
  body::after {
    clear: both;
    content: "";
    display: table; }
  body div.skateboardersTag {
    color: #FFFAF8;
    font-weight: bold;
    font-size: 12px;
    padding-top: 23px;
    padding-left: 5px;
    position: absolute;
    top: 1065px;
    left: -145px;
    height: 60px;
    width: 120px;
    background: #B4292E; }
  body div.skateboardersTriangle {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 20px solid #B4292E;
    border-bottom: 30px solid transparent;
    position: absolute;
    top: 1065px;
    left: -25px;
    height: 60px;
    width: 170px; }

header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 160px;
  margin: 0; }
  header:last-child {
    margin-right: 0; }

.socialTopBar {
  height: 50px;
  font-size: 40px; }

.socialNav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 76.76824%;
  margin-bottom: 25px; }
  .socialNav:last-child {
    margin-right: 0; }
  .socialNav a {
    height: 62px;
    width: 62px;
    color: #FFFAF8;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
    box-shadow: 0px 5px 1px #888888; }

a.subscribe {
  margin-left: 59.70863%;
  color: #FFFAF8;
  width: 80px;
  font-weight: lighter;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  top: 45px; }

.fa-facebook {
  background: #445897;
  opacity: .9; }

.fa-rss {
  background: #CC8F32;
  opacity: .9; }

.fa-twitter {
  background: #6A8DC7;
  opacity: .9; }

.fa-youtube {
  background: #B4292E;
  opacity: .9; }

.mainNav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .mainNav:last-child {
    margin-right: 0; }
  .mainNav div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    background: #B4292E;
    font-size: 18px;
    height: 40px;
    box-shadow: 0px 5px 1px #888888;
    position: relative; }
    .mainNav div:last-child {
      margin-right: 0; }
    .mainNav div a {
      height: 40px;
      width: 250px;
      text-decoration: none;
      text-align: center;
      position: absolute;
      padding-top: 10px;
      color: #fff; }

.hero {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 415px; }
  .hero:last-child {
    margin-right: 0; }
  .hero div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background: gray url("../assets/top-image.png") -80px -150px no-repeat;
    border: 6px #FFFAF8 solid;
    height: 350px;
    position: relative;
    margin-bottom: 10px; }
    .hero div:last-child {
      margin-right: 0; }
    .hero div img.grid {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      height: 340px; }
      .hero div img.grid:last-child {
        margin-right: 0; }
    .hero div img.logo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      position: absolute;
      top: 50px;
      left: 25px; }
      .hero div img.logo:last-child {
        margin-right: 0; }
  .hero ol {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    margin-left: 42.64902%; }
    .hero ol:last-child {
      margin-right: 0; }
    .hero ol input {
      height: 18px;
      width: 18px;
      border: none;
      border-radius: 50%;
      box-shadow: 0px 5px 1px #888888; }
      .hero ol input:focus {
        background: #B4292E;
        outline: none; }

.featured {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 50px; }
  .featured:last-child {
    margin-right: 0; }
  .featured div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    background: #FCFCFC;
    height: 352px;
    box-shadow: 0px 5px 1px #888888;
    padding: 25px;
    position: relative; }
    .featured div:last-child {
      margin-right: 0; }
    .featured div h2 {
      font-weight: normal;
      font-size: 25px;
      color: #383934;
      margin-top: 0;
      margin-bottom: 10px; }
    .featured div .meta {
      font-size: 14px;
      color: #AEAEAE; }
    .featured div p {
      font-weight: lighter;
      font-size: 15px;
      color: #525252;
      position: absolute;
      top: 138px;
      padding-right: 15px; }
    .featured div a {
      position: absolute;
      top: 320px;
      left: 120px; }

.skateboardersImg {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 500px; }
  .skateboardersImg:last-child {
    margin-right: 0; }
  .skateboardersImg .skater {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 48.41578%;
    border: 5px #FFFAF8 solid;
    height: 235px;
    position: relative;
    box-shadow: 0px 5px 1px #888888; }
    .skateboardersImg .skater:last-child {
      margin-right: 0; }
    .skateboardersImg .skater:nth-child(2n) {
      margin-right: 0; }
    .skateboardersImg .skater:nth-child(2n+1) {
      clear: left; }
    .skateboardersImg .skater span {
      margin-left: 22.92632%;
      position: absolute;
      color: #FFFAF8;
      font-size: 45px;
      font-weight: bolder;
      top: 68px; }
    .skateboardersImg .skater span.cab {
      margin-left: 25.58941%;
      top: 84px; }
  .skateboardersImg div.skatersLeft {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .skateboardersImg div.skatersLeft:last-child {
      margin-right: 0; }
    .skateboardersImg div.skatersLeft div.lance {
      background: url("../assets/sk8er-4.png") 0 0 no-repeat; }
    .skateboardersImg div.skatersLeft div.rodney {
      background: url("../assets/sk8er-3.png") center no-repeat; }
    .skateboardersImg div.skatersLeft div.steve {
      margin: 25px 0 0 0;
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 100%;
      background: url("../assets/sk8er-1.png") 0 -130px no-repeat;
      background-size: cover; }
      .skateboardersImg div.skatersLeft div.steve:last-child {
        margin-right: 0; }
  .skateboardersImg div.tommy {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    height: 495px;
    background: url("../assets/sk8er-2.png") -500px 0 no-repeat;
    background-size: cover; }
    .skateboardersImg div.tommy:last-child {
      margin-right: 0; }
    .skateboardersImg div.tommy span.guerrero {
      left: -48px;
      font-size: 40px; }

.decks {
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 320px;
  background: #FCFCFC;
  box-shadow: 0px 5px 1px #888888;
  padding: 20px; }
  .decks:last-child {
    margin-right: 0; }
  .decks img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 7.87811%;
    height: 280px; }
    .decks img:last-child {
      margin-right: 0; }

.footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #FCFCFC;
  padding: 25px;
  height: 360px;
  margin-bottom: 100px;
  box-shadow: 0px 5px 1px #888888; }
  .footer:last-child {
    margin-right: 0; }
  .footer div.contactFooter {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding-right: 40px;
    padding-left: 15px;
    color: #525252; }
    .footer div.contactFooter:last-child {
      margin-right: 0; }
    .footer div.contactFooter:nth-child(1n) {
      margin-right: 0; }
    .footer div.contactFooter:nth-child(1n+1) {
      clear: left; }
    .footer div.contactFooter h3 {
      font-size: 27px;
      font-weight: normal; }
    .footer div.contactFooter p {
      line-height: 175%; }
    .footer div.contactFooter nav a {
      color: #FFFAF8;
      font-size: 17px;
      text-align: center;
      padding-top: 4px;
      height: 25px;
      width: 25px;
      text-decoration: none; }
  .footer fieldset.contactForm {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    border: none;
    height: 290px; }
    .footer fieldset.contactForm:last-child {
      margin-right: 0; }
    .footer fieldset.contactForm input {
      margin-bottom: 15px;
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 100%;
      height: 45px;
      padding: 15px;
      font-size: 18px;
      font-weight: lighter;
      border: 1px #525252 solid;
      border-top: 3px #B2B2B2 solid;
      border-left: 3px #B2B2B2 solid; }
      .footer fieldset.contactForm input:last-child {
        margin-right: 0; }
    .footer fieldset.contactForm input.yourMessage {
      height: 115px; }
    .footer fieldset.contactForm button {
      margin-top: 10px;
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 47.58542%;
      margin-left: 52.41458%;
      background: #B4292E;
      border: none;
      height: 45px;
      font-size: 18px;
      font-weight: lighter;
      color: #FFFAF8; }
      .footer fieldset.contactForm button:last-child {
        margin-right: 0; }
